@import url('https://fonts.googleapis.com/css2? family = Source + Sans + Pro: ital, wght @ 0,200; 0,300; 0,400; 0,600; 0,700; 0,900; 1,200; 1,300; 1,400; 1,600; 1,700; 1,900 & display = swap ');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Barra principal */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}
/* Ajustes de barra para centarlos */
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
/* Nombre o logo dentro de la barra centrado */
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Color del nombre */
.logo h1 b{
   color: red;
}
/* Menu de interacion ir a */
.menu{
   height: 80px;
   margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
/* Centrar menu con logo */
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*  Clase para seleccion Barra sobre menu de seleccion*/
.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
}

/* Color de las letras del menu*/
.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}
/* Efecto de cambiar color al pasar por encima  */
.menu nav ul li a:hover{
   color:red;
}

/* Clase para el color de letras */

.menu .text-menu-selected{
    color: red;
}

/* menu de pagina responsive */
#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #f3f0f0fa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
   color: rgb(248, 132, 132);
   opacity: 0.8;
}


/* btn ir arriba */

#button-up{
    width: 60px;
    height: 60px;
    background:red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition:all 300ms ease ;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
    background: rgb(247, 90, 90) ;
}


/* iconos de redes sociales flotantes */

.container-redes{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.container-redes a{
    margin-top: 4px;
}

.container-redes img{
    width: 60px;
    padding: 4px;
    background: rgba(0,0,0,0.0);
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
    text-decoration: none;
}

.container-redes a:hover img{
    background: rgba(0,0,0,0.10);
}

/* Buscador contenido */

#ctn-icon-search{
  position: absolute;
  right: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: red;
}

/* Barra de busqueda */

#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}

#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}


#icon-search:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color:red;
    content: "";
    transition: width 0.2s;
  }
  
  #icon-search:hover {
    color: #0d0d0d;
  }
  
 #icon-search:hover:after{
    width: 100%;
  } 



/* Footer - pie de pagina */


/* Estilo del footer base */
.container-footer{
    width: 100%;
    padding: 40px 0;
    background-color: #f7f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

/* Estilo del logo en el footer pie de pagina centar */
.container-footer footer .logo-footer{
   text-align: center;
}

/* Estilo del logo en el footer pie de pagina tamaño */
.container-footer footer .logo-footer img{
   width: 100px;
   border-radius: 100%;
}

/* Estilo del logo en el footer pie de pagina redes centar*/
.container-footer footer .redes-footer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo del logo en el footer pie de pagina redes diseño */
.container-footer footer .redes-footer .icon-redes-footer{
  font-size: 20px;
  margin: 20px;
  background: #efefef;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #a2a2a2;
}

/* Estilos de los iconos */
.container-footer footer .redes-footer .fa-facebook-f{
    background: #41579a;
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-facebook-f{
	animation: icono .5s ease;
}

.container-footer footer .redes-footer .fa-facebook-messenger{
    background: linear-gradient(to bottom right, #476ff3, #3744ee, #c950da, #e274b4, #c53069);
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-facebook-messenger {
	animation: icono .5s ease;
}

.container-footer footer .redes-footer .fa-instagram{
    background: linear-gradient(to bottom right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-instagram {
	animation: icono .5s ease;
}

.container-footer footer .redes-footer .fa-youtube{
   background: red;
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-youtube {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

/* Estilo del footer pie de pagina del hr y h4 */
.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #bebbbb;
}

.container-footer footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500px;
    font-size: 18px;
}


/* contenedor de categoria */


.container-post input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 110px;
}

.container-category label{
    padding: 6px 20px;
    margin: 10px;
    font-size: 15px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}

.container-category label:hover{
    background: rgb(245, 199, 199);
    opacity: 0.8;
}



/* Estilos CSS del Reproductor */

main .contenedor {
    max-width: 1200px;
    margin: auto;
    display: grid;
    margin-top: 150px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

main .contenedor .ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

main .contenedor .ctn-tag li{
   list-style: none;
   font-size: 14px;
   margin: 4px;
   padding: 3px 10px;
   background: #e8e8e8;
   cursor: default;
   border-radius: 6px;
}

main .contenedor .post h4{
    font-size: 18px;
    margin-top: 2px;
    padding: 0px 5px;
    color: #686565;
}

.fm-video {
    width: 100%;
    height: 100%;
    padding: 0 20px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: red;
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: red;
}

.fm-video .vjs-slider {
	background:red;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}

.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}


/* Responsive Desing-  adaptable a dispositivos mobiles */

/* Responsive menu , articulos y pie de pagina */
@media screen and (max-width: 1220px){
    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }
}

/* Responsive articulos y aside en bloques */
@media screen and (max-width: 1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}

/* Responsive completo pequeño  */

@media screen and (max-width: 800px){

    body{
       overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translatex(300px);
    }

    .menu{
        width:0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: white;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    main .contenedor {
        max-width: 1200px;
        margin: auto;
        display: grid;
        margin-top: 150px;
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .show-lateral-menu{
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul{
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu nav ul div img{
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }

    .menu-seleted:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: red;
    }

    #icon-menu{
        display: flex;
        right: 60px;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}